
<app-customer></app-customer>
<h1 style="text-align: center;"><svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
  <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
</svg>Customers CardView!</h1>

<div class="card-container row">
    <div *ngFor="let item of pagedCustomers" class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img *ngIf="item.gender === 'male'" src="../../../assets/male.png" alt="Male Image" width="50" height="50">
          <img *ngIf="item.gender === 'female'" src="../../../assets/images/female.png" alt="Female Image" width="50" height="50">
          <div><strong>ID:</strong> {{ item.id}}</div>
          <div class="name">{{ item.firstName }} {{ item.lastName }}</div>

        </div>
        <td>
          <i (click)="deleteCustomer(item.id)" class="fa fa-trash icon"></i>
          &nbsp;
          <a routerLink="/edit/{{item.id}}"><i class="fa fa-edit icon"></i></a>
        </td>
        <div class="card-body">
          <div><strong>Gender:</strong> {{ item.gender }}</div>
          <div><strong>Address:</strong> {{ item.address }}</div>
          <div><strong>City:</strong> {{ item.city }}</div>
          <div><strong>State:</strong> {{ item.state.name }} ({{ item.state.abbreviation }})</div>
          <button (click)="viewOrders(item.orders)">View Orders</button>

        </div>
      </div>
    </div>
  </div>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
        <a class="page-link" (click)="setPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  
  